@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.active {
  background-color: white;
  transition: all 0.4s ease;
}

.active p {
  color: black;
  /* transition: ease-in 0.1s; */
}

.verticalNav p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.verticalNav::-webkit-scrollbar {
  display: none;
}

.inQueueList::-webkit-scrollbar {
  display: none;
}

.inQueueList::-moz-scrollbar {
  display: none;
}

.inQueueList::-ms-scrollbar {
  display: none;
}

.nextInQueue:hover {
  background-color: rgb(23, 29, 48);
}

.tabSelector {
  transition: all 0.25s ease-in-out;
}

.tabSelector:active {
  transform: scale(0.94);
}

.playFromInQueueBtn {
  background-color: black 2;
  opacity: 23%;
}

#backFromMiniPlayer {
  transition: all 0.3s ease;
}

#backFromMiniPlayer:active {
  transform: scale(0.9);
}

#goToMiniPlayer {
  transition: all 0.3s ease;
}

#goToMiniPlayer:active {
  transform: scale(0.8);
}

.inactiveHeaderMini {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.activeHeaderMini {
  opacity: 70;
}

.inactiveMini {
  background-color: black;
  color: white;
}

.activeMini {
  background-color: white;
  color: black;
}

#LyricsInMini {
  font-family: 'Afacad', sans-serif;
  font-family: 'Poppins', sans-serif;
}

#minimalPlayerPage{
  object-fit: cover;
  background-repeat: no-repeat;
}

/* animation  */

#visibilityToggleMinimalBtn,
#cardBtn,
#lyricBtn,
#OnMiniPlayerSidebar,
#OnSuffleSong,
#goToPreviousSong,
#playPauseSong,
#goToNextSong,
#OnRepeatMusic {
  transition: all 0.3s ease;
}

#visibilityToggleMinimalBtn:active,
#cardBtn:active,
#lyricBtn:active,
#OnMiniPlayerSidebar:active,
#OnSuffleSong:active,
#goToPreviousSong:active,
#playPauseSong:active,
#goToNextSong:active,
#OnRepeatMusic:active {
  transform: scale(0.9);
}
