body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.active {
  background-color: white;
  transition: all 0.4s ease;
}

.active p{
  color: black;
  /* transition: ease-in 0.1s; */
}

.verticalNav p{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.verticalNav::-webkit-scrollbar {
  display: none;
}

.inQueueList::-webkit-scrollbar {
  display: none;
}

.inQueueList::-moz-scrollbar {
  display: none;
}

.inQueueList::-ms-scrollbar {
  display: none;
}

.nextInQueue:hover {
  background-color: rgb(23, 29, 48);
}